<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tajikenglish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TajikEnglish">
        <activity
            android:name=".tajikEnglish.EnglishTajinDictioanry"
            android:exported="true" />
        <activity
            android:name=".tajikEnglish.TajikEnglishDictionary"
            android:exported="true" />
        <activity
            android:name=".Topic.TopicActivity"
            android:exported="true" />
        <activity
            android:name=".Alphabet.AlphabetActivity"
            android:exported="true" />
        <activity
            android:name=".Number.NumberActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>